body {
    margin-top: 5px;
    font-family: 'Trebuchet Ms';
    letter-spacing: 0.5px;
}

.navbar {
    padding: 5px 0 5px 0;
    border: 0;
    border-radius: 0;
    margin-bottom: 0px;
    letter-spacing: 1.5px;
    font-size: 15px;
    background-color: black;
    border-bottom: 6px solid black;
    border-top: 2px solid black;
}

.navbar-nav li a {
    color: white !important;
    transition: 0.3s;
}

.navbar-nav li a:hover {
    font-size: 20px;
}

.searchWrapper {
    float: right;
    border: 3px solid black;
    width: 30%;
    height: 40px;
    margin-top: 20px;
    background-color: #f2f2f2;
    outline: 0;
    border-radius: 5px;
    display: inline-block;
}

@media screen and (max-width:768px) {
    .searchWrapper {
        display: none;
    }
}

.searchWrapperSmall {
    display: none;
    border: 3px solid black;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    background-color: #f2f2f2;
    outline: 0;
    border-radius: 5px;
}

@media screen and (max-width:768px) {
    .searchWrapperSmall {
        display: inline-block;
    }
}

.txtSearchSmall {
    border: 0;
    width: 80%;
    height: 30px;
    background-color: #f2f2f2;
    outline: 0;
    font-size: 18px;
    padding: 0 7px 0 7px;
    letter-spacing: 1px;
}

.btnSearchSmall {
    font-size: 23px;
    border: 0;
    outline: 0;
    background-color: #f2f2f2;
}

.txtSearch {
    border: 0;
    width: 80%;
    height: 34px;
    background-color: #f2f2f2;
    outline: 0;
    font-size: 18px;
    padding: 0 7px 0 7px;
    letter-spacing: 1px;
}
.justBackground{

    background-image: url(../Img/defaultFemale.png);
    background-repeat: repeat;
}
.btnSearch {
    float: right;
    display: inline;
    font-size: 23px;
    border: 0;
    outline: 0;
    background-color: #f2f2f2;
}

.carousel-wrapper {
    background-color: #001f33;
}

.carousel {
    width: 100%;
    margin: 0;
}

.carousel-control.right,
.carousel-control.left {
    background-image: none;
    color: white;
}

.carousel-indicators li {
    border-color: black;
}

.carousel-indicators li.active {
    background-color: #001f33;
}

.item span {
    font-style: normal;
}
.item img {
    width:80%;
    height: 350px !important;
	
}


form-control {
    font-size: 15px;
}

.loginTxt {
    margin-top: 20px;
    font-size: 20px;
    width: 60%;
}

.signUpTxt {
    margin: 40px 0 50px 0;
    padding: 0 70px 0 70px;
    width: 70%;
}

@media screen and (max-width:768px) {
    .signUpTxt {
        margin: 40px 0 50px 0;
        padding: 0 20px 0 20px;
        width: 100%;
    }
    .loginTxt {
        margin-top: 20px;
        font-size: 20px;
        width: 100%;
    }
}

.signUpTxt label {
    font-size: 16px;
}

.signUpTxt .form-control {
    height: 38px;
    font-size: 15px;
    letter-spacing: 1px;
}

.signInTab {
    margin: 20px 0 50px 0;
    padding: 0 50px 0 50px;
}

label {
    color: #82586D;
    float: left;
    font-size: 16px;
    margin-top: -10px;
}

.aboutDiv {
    background-color: #bfbfbf;
    padding: 0 20px 30px 20px;
    border-top: 2px solid black;
    color: black;
}

footer
{   
    padding: 20px;
    background: black;
}
footer #main-footer a,
footer #main-footer h1,
footer #main-footer h2,
footer #main-footer h3,
footer #main-footer h4,
footer #main-footer h5,
footer #main-footer p
{
  color: #fff;
}
footer#main-footer .container
{
    padding-top:20px;
}
footer#main-footer .container:focus {
  border-color: #ed8323;
}


::selection 
{
  background: #ed8323;
  color: #fff;


.list-footer>li>a:hover
{
    text-decoration:underline;
}



.aboutIcon {
    font-size: 200px;
    margin-right: 50px;
    float: right;
    margin-top: 40px;
    margin-bottom: 20px;
}

@media screen and (max-width:768px) {
    .aboutIcon {
        font-size: 70px;
        margin-right: -30px;
        float: right;
        margin-top: 40px;
        margin-bottom: 20px;
    }
}

.aboutInfo {
    font-size: 16px;
}

.errorSpan {
    color: red;
    float: left;
    padding-top: 2px;
    padding-bottom: 10px;
    font-size: 12px;
}

