/* Module code */
.form--search {
  margin: 0;
  padding: 0;
}
.form--light-search {
  width:100%%;
  position: relative;
  margin: 0 auto;
}
.input--search,
.item--result {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
}
.input--search {
  display: block;
  width: 100%;
  height: auto;
  line-height: 1.5;
  color: #777;
  border: none;
  background: #fff;
  margin: 0 auto;
  box-sizing: border-box;
}
.input--search:focus {
  border: none;
  outline: none;
}
::placeholder {
  color: #c0c0c0;
}
.form--search__result {
  position: absolute;
  margin: 0;
  width: 100%;
}
/* Block one item result */
.item--result {
  width: 100%;
  background: #fff;
  border-bottom: 1px dashed #dfdfdf;
  border-left: none;
  border-right: none;
  padding: 15px;
  color: #333;
  box-sizing: border-box;
}
.item--result.last,
.item--result:last-child {
  border-bottom: none;
}
.item--result:hover,
.item--result.focus {
  cursor: pointer;
  color: #666;
  background: #BBBE64;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.item--result:hover .data-1,
.item--result.focus .data-1,
.item--result:hover .data-2,
.item--result.focus .data-2 {
  color: #f2f2f2;
}
.item--result .data-0 {
  float: left;
  color: #666;
  margin: 0 0 3px 0;
  font-weight: 600;
}
.item--result .data-1,
.item--result .data-2 {
  display: block;
  color: #c0c0c0;
  font-weight: normal;
}
.item--result .data-1 {
  float: right;
}
.item--result .data-2 {
  clear: both;
}
.item--result span:nth-child(n+4) {
  display: block;
  width: 100%;
  margin: 5px 0;
  font-size: 0.8em;
}
