body {
  width: 100%;
  margin: 0px 0px;
  height: 100%;
  padding: 0px 0px;
  font-family: "Lato", sans-serif;
  /* overflow-x:hidden; */
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
section {
  overflow-x: hidden;
}
a,
a:hover,
a:focus {
  text-decoration: none;
}
ul,
li {
  margin: 0px;
  padding: 0px;
}
button {
  outline: none;
}

.add{
  margin-top: 25px;
}


.main-nav {
  width: 100%;
  background: rgba(255, 255, 255, 0.75);
  position: absolute;
  z-index: 999;
}
.is-sticky .main-nav
{
  background: rgba(255, 255, 255, 0.80);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.50);
}
.menu_flex
{
  display: flex;
  margin-bottom: 10px;
}

.main-nav .navbar-nav.nav-element .nav-link {
  color: #125e8a;
}
ul.social-element  li a {
  padding: 5px 5px;
  
  color: #336b8d;
  font-size: 14px;
}
ul.social  li a img{
  max-width: 100%;
}
.btn-red {
  border: 1px solid #ed1b24;
  max-width: 120px;
  padding: 10px;
  text-align: center;
  color: #ed1b24;
  font-size: 18px;
  transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
}
.btn-red:hover {
  background: #ed1b24;
  color: #fff;
}
#example1{
  text-align: center;
  font-size: 60px;
  font-weight: 400;
  color: #ffffff;
  text-shadow: 2px 2px 2px #000;
  font-family: 'Kaushan Script', cursive;
}

.navbar-light .navbar-nav.nav-element li.nav-item {
  padding: 0px 15px;
}
.navbar-light .navbar-nav.nav-element li.nav-item:last-child{
  padding-right: 0px;
}
.navbar-light .navbar-nav.nav-element .nav-link {
  padding: 0px 0px;
  position: relative;
  font-size: 14px;
  font-weight: 600;
}
.navbar-light .navbar-nav.nav-element .nav-link:before {
  content: "";
  position: absolute;
  bottom: -8px;
  border-bottom: 2px solid transparent;
  height: 2px;
  z-index: 999;
  width: 100%;
  left: 0;
  transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
}
/* .navbar-light .navbar-nav.nav-element .nav-link.active,
.navbar-light .navbar-nav.nav-element .nav-link:hover,
.navbar-light .navbar-nav.nav-element .nav-link:focus {
  color: #fff;
} */
.navbar-light .navbar-nav.nav-element .nav-link.active:before,
.navbar-light .navbar-nav.nav-element .nav-link:hover::before,
.navbar-light .navbar-nav.nav-element .nav-link:focus::before {
  border-color: #125e8a;
}
.navbar-light .navbar-nav.nav-element .dropdown:hover>.dropdown-menu {
  display: block;
  border-top:2px solid #125e8a;
}

.navbar-light .navbar-nav.nav-element .dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
.main-slider {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 8vw;
  margin-bottom: 50px;
  opacity: 0;
  visibility: hidden;
  transition: all 1.2s ease;
  overflow: hidden;
}
.main-slider.slick-initialized {
  opacity: 1;
  visibility: visible;
}

.main-slider .slick-slide {
  position: relative;
  height: 100vh;
}
.main-slider .slick-slide::before {
  background-color: #000;
  opacity: 0.3;
  z-index: 1;
}
.main-slider .slick-slide video {
  display: block;
  position: absolute;
  top: 0%;
  left: 0;
  max-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  bottom: 0;
 
}
.main-slider .slick-slide iframe {
  position: relative;
  pointer-events: none;
}
.main-slider .slick-slide figure {
  position: relative;
  height: 100%;
}
.main-slider .slick-list {
  height: 100vh;
}

.main-slider .slick-slide .slide-image {
  opacity: 0;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: all 0.8s ease;
}
.main-slider .slick-slide .slide-image.show {
  opacity: 1;
}
.main-slider .slick-slide .image-entity {
  width: 100%;
  opacity: 0;
  visibility: hidden;
}
.main-slider .slick-slide .loading {
  position: absolute;
  top: 44%;
  left: 0;
  width: 100%;
}
.main-slider .slick-slide .slide-media {
  -webkit-animation: slideOut 0.4s cubic-bezier(0.4, 0.29, 0.01, 1);
  animation: slideOut 0.4s cubic-bezier(0.4, 0.29, 0.01, 1);
}
.main-slider .slick-slide.slick-active {
  z-index: 1;
}
.main-slider .slick-slide.slick-active .slide-media {
  -webkit-animation: slideIn 2.4s cubic-bezier(0.4, 0.29, 0.01, 1);
  animation: slideIn 2.4s cubic-bezier(0.4, 0.29, 0.01, 1);
}
.main-slider .slick-slide.slick-active .caption {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition: all 0.7s cubic-bezier(0.32, 0.34, 0, 1.62) 0.6s;
}

.caption {
  position: absolute;
  top: 44%;
  left: 5%;
  text-align: center;
  padding: 20px;
  border: 3px solid;
  color: #fff;
  margin: 0;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0.02em;
  opacity: 0;
  z-index: 1;
  transition: all 0.3s ease;
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
}

.main-slider .slick-dots {
  text-align: center;
  padding-top: 15px;
}
.main-slider .slick-dots li {
  /* display: inline-block; */
  vertical-align: top;
  margin: 0 8px;
}
.main-slider .slick-dots li button {
  width: 16px;
  height: 16px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 0 0 0 transparent;
  vertical-align: middle;
  color: #fff;
  background-color: #fff;
  transition: all 0.3s ease;
  opacity: 0.4;
}
.main-slider .slick-dots li button:focus {
  outline: none;
}
.main-slider .slick-dots li button:hover {
  opacity: 1;
}
.main-slider .slick-dots li.slick-active button {
  border-color: #2d3042;
  box-shadow: 0 0 0 2px #fff;
  opacity: 1;
}
.travel-portral
{
  background: #37cabb;
  padding: 50px 0px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.travel-portral h2{
  font-weight: 600;
  font-size: 32px;
  margin: 0px;
  font-style: italic;
}
.holiday-elements {
  overflow: hidden;
}
.holiday-elements img {
  max-width: 100%;
  height: 100%;
}
.holiday-elements-front figure{
  display: flex;
  height:560px;
  overflow: hidden;
}
.heading-content {
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.text-sky {
  color: #37cabb;
}
.btn-white {
  background: #fff;
  padding: 10px 30px;
  display: inline-block;
  font-size: 20px;
  color: #49c1b7;
}
.btn-white:hover {
}
.space-top {
  margin-top: 115px;
}
/* Tabs search */
.tab-element-main {
  position: absolute;
  width: 100%;
  z-index: 99;
  /* height: 100%; */
  display: block;
  align-items: flex-end;
  justify-content: center;
  bottom: 40px;
}
.search-tabs-bg > .tabbable.nav-tabs > li {
  margin-bottom: 0;
  font-size: 13px;
}
.search-tabs-bg > .tabbable.nav-tabs > li > a {
  color: #fff;
  margin-right: 0 !important;
  background: rgba(0, 0, 0, 0.65);
  border-radius: 0px;
  font-size: 14px;
  padding: 10px 15px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  border: none;
}
.search-tabs-bg > .tabbable.nav-tabs > li > a.active,
.search-tabs-bg > .tabbable.nav-tabs > li > a:hover,
.search-tabs-bg > .tabbable.nav-tabs > li > a:focus {
  background: #ffbb2a;
  color: #3c3c3c;
}
.search-tabs .tab-content {
  padding: 18px;
  background: rgba(0, 0, 0, 0.75);
}
.search-tabs input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: none;
  border-right: 1px solid #404040;
  color: #ccc;
}
.search-tabs input[type="submit"] {
  cursor: pointer;
  background: #37cabb;
  color: #fff;
  text-transform: uppercase;
}
.holiday-elements-ml {
  margin-left: -80px;
}
.holiday-elements-mr {
  margin-right: -80px;
}
.heading-content h2 {
  text-transform: uppercase;
  font-size: 48px;
  padding: 30px 0px;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-family: 'Kaushan Script', cursive;
}
.holiday-elements-bg {
  background-size: cover;
  padding: 30px 30px;
  height: 500px;
  overflow-y: auto;
  background: url(../images/bg-pattren.jpg) repeat;
}
.holiday-elements-bg h3{
  font-family: 'Kaushan Script', cursive;
  text-transform: capitalize;
}
.add-tourist {
  width: 100%;
  font-size: 14px;
  border: none;
  border-right: 1px solid #404040;
  font-family: "Lato", sans-serif;
}
.add-tourist p {
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 14px;
}
.add-tourist label {
  margin-bottom: 0px;
  background: white;
  width: 100%;
  padding: 10px;
}
.add-tourist ul {
  width: 250px;
  background: #fff;
  padding: 10px;
  position: absolute;
  top: 55px;
  display: none;
}
.add-tourist ul:before {
  content: "";
  position: absolute;
  border-right: 6px solid #fff0;
  top: -6px;
  border-left: 6px solid transparent;
  z-index: 999999;
  border-bottom: 6px solid white;
}
.add-tourist span i {
  position: absolute;
  right: 5px;
  font-size: 16px;
  display: flex;
  align-items: center;
  top: 13px;
}
.add-tourist li {
  list-style: none;
}
.add-tourist-box {
  width: 100%;
  position: relative;
}
.add-tourist-box input[type="text"] {
  padding: 5px 30px;
  font-size: 14px;
  text-align: center;
}
.add-tourist-box input[type="button"] {
  position: absolute;
  top: 0;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0px;
  border: none;
  background: #37cabb;
  color: #fff;
  cursor: pointer;
  outline: none;
}
.add-tourist-box #plus {
  left: 0;
}
.add-tourist-box #minus {
  right: 0;
}
.bg-1 {
  /* background: url(../images/flight-2.jpg) no-repeat; */
  background-size: cover;
}
.holiday-elements-bg p {
  font-size: 18px;
  padding: 0px 0px;
  margin-bottom: 5px;
  /* max-width: 600px; */
  text-transform: capitalize;
}
.bg-2 {
  /* background: url(../images/bg-pattren.jpg); */
  /* padding: 150px 60px 150px 40px; */
  background-position: center;
}
.bg-3 {
  /* background: url(../images/group-1.jpg) no-repeat; */
  background-size: cover;
  background-position: center;
}
.bg-4 {
  /* background: url(../images/buidling.jpg) no-repeat; */
  background-size: cover;
  background-position: center;
} */
.holiday-elements-bg h3 {
  font-family: "Lato", sans-serif;
  text-transform: capitalize;
  font-weight: 600;
  font-size:25px;
}
.holiday_element_list{
  margin-bottom:30px;
}
.holiday_element_list li {
  font-size: 18px;
    color: #fff;
    padding-bottom: 4px;
    list-style-position: inside;
    list-style: none;
    background: url(../images/tick.png) no-repeat;
    background-size: 15px;
    padding-left: 25px;
    background-position: 0;
    text-transform: capitalize;
}
.testionial_element figure{
  border-radius: 100%;
  width: 90px;
  height: 90px;
  overflow: hidden;
  margin: 0px auto;
  border:1px solid #ccc;
}
.testionial_element figure img
{
  max-width: 100%;
}
.testionial_element .client-name p
{
  font-size: 18px;
  font-weight: 600;
  font-style:italic;
}
.testionial_element .client-name p span
{
  display: block;
  font-size: 14px;
}
.testionial_element .row{
  display: flex ;
  text-align: center;
  height:auto;
}
.map-box {
  overflow: hidden;
  height: 435px;
}
.map-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 60px;
  flex-direction: column;
  height: 100%;
}
.map-content h5 {
  padding: 20px 0px;
}
.map-content h3 {
  color: #76a8ca;
  font-size: 25px;
}
.map-content h3 a
  {
    color: #76a8ca;
    display: block;
  }
.ftr-element {
  color: #fff;
  padding-top: 50px;
  background: rgba(15, 38, 38, 0.96);
}
.ftr-element h4{
  font-size: 18px;
}
.ftr-element p {
  margin-bottom: 0px;
  font-size: 14px;
  line-height: normal;
  font-family: "Roboto", sans-serif;
}
.about-footer ul li {
  list-style-type: none;
}
.about-footer ul li a {
  color: #fff;
  padding: 5px 0;
  display: block;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
}
.about-footer {
  position: relative;
  z-index: 1;
  padding: 10px;
  color: #fff;
  border-top: 1px dotted #fff;
}
.about-footer a[href*="tel:"] {
  color: #fff;
}
/* inner page css  */
.top-head-element {
  text-align: center;
  background: #27c7b7;
  padding: 60px 0px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 140px;
  background-attachment: fixed !important;
}
.top-head-element h1 {
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0px;
}
.bg-inner {
  background: url(../images/about.jpg) no-repeat;
}
.bg-about{
  background: url(../images/about-box.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0px;
  height: 100vh;
  display: flex;
  align-items: center;
      background-position: center;
}
.bg-about h1{
  margin-bottom: 24px;
  text-shadow: none;
  line-height: 1em;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 60px;
  color: #1685c0;
  padding-bottom: 20px;
  position: relative;
      font-family: 'Kaushan Script', cursive;
}
.bg-about h1:after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 60px;
  height: 3px;
  background-color: #f6a336;
 
}
.bg-about p{
     font-size: 18px;
    max-width: 355px;
    color: #085c8a;
}
.equal {
  padding: 60px 0px;
  background-color: #f4f4f4;
}
.eq {
  background-color: #f4f4f4;
}
.dt-sc-button {
  background: #278fc5;
  display: inline-block;
  width: 280px;
  padding: 12px 10px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
}
.dt-sc-button:hover,
.dt-sc-button:focus {
  color: #fff;
}
.img-fix img {
  max-width: 100%;
}
.user-details h3 {
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 2px 1px 2px #d7d7d7;
  color: #0ba696;
}
.briefDesc {
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 2px 1px 2px #d7d7d7;
  color: #0ba696;
}
.user_data {
  padding: 15px;
  background: #f9f9f9;
  position: relative;
  margin-bottom: 15px;
}
.user_data input {
  border: none;
  padding: 10px;
  /* line-height: 1.5px; */
}
.package_image {
  position: relative;
  overflow: hidden;
/* 
  height: 255px; */
}
.package_image img {
  width: 100%;
}

.package_image .SearchCode {
  border: 15px solid #f56d6d;
  border-left: 0;
  border-right: 8px solid transparent;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  line-height: 0;
  max-width: 220px;
  padding: 0 20px 0 10px;
  position: absolute;
  top: 10px;
  z-index: 1;
}
.dest-covered {
  background: #3c3c3c;
  color: rgba(255, 255, 255, 0.8);
  padding: 12px 10px;
  font-size: 11px;
}

.package {
  padding: 15px;
  background: #f9f9f9;
  position: relative;
  margin-bottom: 15px;
}
.package input {
  border: none;
  padding: 10px;
  line-height: 1.5px;
}
.user_data button {
  position: absolute;
  right: 10px;
  top: 10px;
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  outline: none;
}
.add_details {
  padding: 5px 15px;
  border: none;
  background: #0a86c0;
  color: #fff;
  margin-bottom: 0px;
  cursor: pointer;
}
.mainImg {
  margin-bottom: 10px;
}
.selectCat {
  font-family: Cambria Math;
  width: 100%;
  padding: 10px;
}
.travel-package-outer {
  background: #fff;
  box-shadow: 0px 3px 3px #e4e4e4;
  position: relative;
  padding: 0px;
  /* border: 1px solid #ccc; */
}
.list-box-inner {
  font-family: "Roboto", sans-serif;
  border-right: 1px solid #ccc;
  padding-right: 0px;
}
.list-box-inner h4{
  font-size:18px;
}
.list-box-inner p {
  margin-bottom: 0px;
  font-family: "Roboto", sans-serif;
}
.list-box-inner a {
  position: absolute;
  right: 0;
  top: 0;
}
.list-box-inner .SearchBadges_Pkg {
  border-bottom: 1px solid #e4e4e4;
}
.list-box-inner ul {
  display: flex;
  list-style: none;
}
.list-box-inner ul li {
  border-right: 1px solid #e4e4e4;
  color: #8f8f8f;
  font-size: 12px;
  padding: 5px 10px;
}
.list-box-inner ul li a {
  position: relative;
}
.Inclusions_pkg {
  padding: 10px 0px;
}
.list-box-inner .PkgInc_Row > ul > li > img {
  cursor: pointer;
}
.list-box-inner .PkgInc_Row ul {
  display: block;
}
.list-box-inner .PkgInc_Row ul li {
  display: inline-block;
  margin-bottom: 10px;
}
.list-box-inner .Advantages > ul {
  display: block;
}
.list-box-inner .Advantages > ul li {
  border-right: 0px;
}
.detail-box-element h6 {
  font-size: 11px;
  color: #8f8f8f;
  text-transform: uppercase;
}
.detail-box-element h3 {
  color: #5ca9d3;
}
#spnOrig {
  color: #8f8f8f;
}
.login_page {
  max-width: 600px;
  margin: 20px auto;
  background: rgba(255, 255, 255, 0.7);
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px #000;
  box-shadow: 0px 5px 5px rgba(204, 204, 204, 0.5);
}
.loginTxt input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;

  box-shadow: 0 0 0 30px white inset !important;
}
.login_element {
  background: url(../images/family-4.jpg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  padding-top: 150px;
}
.login_element h3{
  font-size: 48px;
    font-family: 'Kaushan Script', cursive;
    color: #ffffff;
    text-shadow: 0px 2px 1px #000;
}
.login_element .col-md-7 p{
  color: #fff;
  font-size: 18px;
  font-weight: 300;
}
.nav_list_box {
  margin-bottom: 20px;
}
.slider-content {
  position: absolute;
  z-index: 9999;
  top: 230px;
  text-align: center;
  width: 100%;
  padding: 40px 15px;
  max-width: 900px;
  margin: 0px auto;
  left: 0;
  right: 0;
}
.slider-content h2 {
  font-size: 46px;
  text-transform: uppercase;
  font-weight: 900;
  color: #ffffff;
  border-radius: 10px;
  text-shadow: 0px 2px 2px #3f3636;
}
.main-slider .slider-content:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.media-icon .panel-body {
  display: flex;
  margin-top: 10px;
}
.media-icon .panel-body a {
  background: #37cabb;
  font-size: 10px;
  display: flex;
  margin: 0px 5px;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: #fff;
}
.label-search {
  cursor: pointer;
  margin-bottom: 0px;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: none;
  background: #fff;
  border-right: 1px solid #ccc;
  color: #c9c9c9;
}
.main-dailog {
  max-width: 850px;
}
/* profile page css */
.nav_list_box li {
  width: 100%;
  margin-bottom: 5px;
}
.nav_list_box li a{
  color: #000000;
}
.nav_list_box.nav-pills li .nav-link.active,
.nav_list_box.nav-pills li .show > .nav-link,
.nav_list_box.nav-pills li:hover a {
  background-color: #000000;
  font-size: 16px;
  color: #fff;
}
.topTrendHdrPkg_box{
  height: 250px;
  overflow-y: scroll;
  position: relative;

}
.topTrendHdrPkg {
  color: #4db6ac;
  font-weight: 700;
  font-size: 14px;
  margin: 0 0 5px;
}
.pkg-list-item-dom {
  list-style: none;
}
.search_auto {
  width: 100%;

  max-width: 600px;
  margin: 0px auto;
}
.search_auto input {
  width: 100%;
  padding: 10px;
}
.country-start p {
  margin-bottom: 0px;
}
.country-start a {
  color: #252424;
}
.country-start ul {
  list-style: none;
  padding-left: 15px;
}
.country-start ul li a {
  font-size: 13px;
}
.country-start ul.pkgDstListNew > li {
  width: 50%;
}
/* inner package  */
.detail-tab .navbar-nav .nav-item .nav-link {
  position: relative;
}
.detail-tab .navbar-nav .nav-item .nav-link:after {
  content: "";
  position: absolute;
  bottom: -8px;
  border-bottom: 2px solid transparent;
  height: 2px;
  z-index: 999;
  width: 100%;
  left: 0;
  transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
}
.detail-tab .navbar-nav .nav-link.active:after,
.detail-tab .navbar-nav .nav-link:hover::after,
.detail-tab .navbar-nav .nav-link:focus::after {
  border-color: #f56d6d;
}
.topHdrPkgDtl {
  background: #fff;
  /* box-shadow: 0px 2px 3px #dedede; */
  /* margin-bottom: 10px; */
  padding: 9px;
  width: 100%;
  position: relative;
  z-index: 9;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
.slide_main-box {
  margin-top: 10px;
}
.heading-mid {
  font-size: 18px;
  margin: 0 0 5px;
  line-height: 20px;
  font-weight: 700;
}
.color-grey {
  color: #dddddd;
}
.color-orange {
  color: #f56d6d;
}
.productCode {
  color: #4db6ac;
}
.forStarRatngs {
  color: #f56d6d;
  font-size: 16px;
}
.revLink {
  font-size: 12px;
  color: #45a6de;
}
.forMobFntNew {
  margin-bottom: 0px;
}
.btnBkOnl {
  background: #4db6ac;
  color: #fff;
}
.btnEnq.sndEnqMob {
  background: #000;
  color: #fff;
}
.btnEnq:hover,
.btnEnq:active,
.btnEnq:focus,
.btnEnq:visited {
  background: 0 0;
  color: #f56d6d;
  border: 1px solid #f56d6d;
}
.btnCall {
  background: #f56d6d;
  margin-left: 5px;
  color: #fff;
}
.package_slide {
  padding-top: 10px;
}
.package_slide figure img {
  width: 100%;
}
.package_slide figure figcaption {
  background: #f56d6d;
  text-align: center;
  padding: 10px;
  color: #fff;
}
.pkgDtlIncDiv {
  position: relative;
  padding-left: 25px;
  margin-bottom: 60px;
  margin: 15px 0 0;
  min-height: 115px;
}
.pkgDtlIncDiv > p {
  background-color: #e5e5e5;
  color: #666;
  font-weight: 700;
  left: -35px;
  margin-left: -20px;
  padding: 5px 10px;
  position: absolute;
  top: 40px;
  width: 110px;
  text-align: center;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.pkgDtlIncUl {
  overflow: hidden;
  list-style: none;
  display: flex;
}
.pkgDtlIncUl > li {
  text-align: center;
  color: #8f8f8f;
  font-size: 11px;
  line-height: 16px;
  padding: 0 0 12px;
  width: 60px;
  cursor: pointer;
}
.package-start {
  color: #555;
  text-align: right;
  padding-top: 10px;
}
.package-start p {
  margin-bottom: 0px;
  font-size: 12px;
  text-transform: uppercase;
}
.package-start .fntperprsn {
  font-size: 12px;
  text-transform: uppercase;
}
.btn-dropdown_price button {
  width: 115px;
  text-align: right;
  background: #1a84c0;
  border: 1px solid #1a84c0;
  color: #fff;
}
.btn-dropdown_price button a {
  color: #fff;
}
.stayPlan {
  width: 100%;
  padding: 15px;
  padding-bottom: 0px;
}
.stayPlan .col-md-4 {
  padding: 10px;
  border: 1px solid #ccc;
}

.stayplan_inner {
  padding-left: 20px;
  position: relative;
}
.stayplan_inner i {
  position: absolute;
  left: 0px;
}
.stayplan_inner h5 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0px;
}
.stayplan_inner p {
  font-size: 12px;
  margin-bottom: 0px;

  color: #333;
}
.package-advantage h4 {
  color: #666;
  font-weight: 700;
  font-size: 14px;
  margin: 8px 0 0;
}
.package-advantage p {
  font-size: 12px;
}
.sticky_header_element nav {
  background: #ffffff;
  width: 1140px;
  z-index: 99;
  border-bottom: 1px solid #eceaea;
}
.sticky_header_element .is-sticky nav {
  z-index: 99;
}
.sticky_header_element nav ul li a {
  color: #1f1f1f;
  font-size: 15px;
  font-weight: 400;
}
.package-detail-box {
  padding: 10px 10px;
  background: #fff;
  overflow-x: hidden;
}
.bg-gray {
  background: #f1f1f1;
}

.package-advantage {
  padding-bottom: 0px;
}
.package-advantage h5 {
  font-size: 18px;
  font-weight: 600;
  color: #52f2e2;
}
.package-advantage ul li {
  list-style: none;
  font-size: 14px;
  padding-left: 15px;
  position: relative;
}
.package-advantage ul li i {
  color: #52f2e2;
  position: absolute;
  left: 0px;
  font-size: 16px;
  top: 2px;
  font-weight: 600;
}
.bdr-left {
  border-left: 1px solid #ccc;
}
.package-about h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 25px;
}
.package-about-inner {
  border-bottom: 1px solid #ccc;

  margin-bottom: 15px;
  width: 100%;
}
.package-about-inner li {
  position: relative;
  padding-bottom: 5px;
}
ul.package-about-inner li > a {
  border: none !important;
}
.package-about-inner a.active:before {
  content: "";
  position: absolute;
  border: 1px solid #34d4c4;
  width: 100%;
  bottom: -1px;
  left: 0px;
}
.package-detail-box img {
  max-width: 100%;
  width: 100%;
}
.accordion-element {
  /* border-bottom: 1px solid #ccc;
  padding-bottom: 20px; */
  overflow: hidden;
  /* margin-bottom: 20px; */
}
.accordion-element .card-header {
  background: transparent;
  border: none;
  margin-bottom: 10px;
  padding: 0px;
}
.accordion-element .card .card-body {
  padding-left: 40px;
}
.accordion-element .card {
  border: none;
}
.accordion-element .card button {
  width: 100%;
  text-align: left;
}

.accordion-element .card button:hover,
.accordion-element .card button:focus {
  text-decoration: none;
}
.accordion-element .card button {
  margin-left: 40px;
  border-bottom: 1px solid #ccc;
  padding-left: 0px;
  border-radius: 0;
  color: #3cdccc;
}
.accordion-element .card button::before {
  content: "";
  position: absolute;
  height: 100%;
  border-left: 1px solid #3cdccc;
  left: 15px;
}
.accordion-element .card button span {
  border: 1px solid #3cdccc;
  width: 30px;
  display: inline-block;
  text-align: center;
  height: 30px;
  border-radius: 100%;
  color: #fff;
  background: #3cdccc;
  line-height: 27px;
  position: absolute;
  left: 0;
  top: 4px;
}
.accordion-element .card button.collapsed {
  color: #555;
}
.accordion-element .card button.collapsed::before {
  border-left: 1px solid #ccc;
}
.accordion-element .card:last-child button.collapsed::before {
  border-left: none;
}
.accordion-element .card button.collapsed span {
  border: 1px solid #5d5d5d;
  width: 30px;
  display: inline-block;
  text-align: center;
  height: 30px;
  border-radius: 100%;
  color: #5d5d5d;
  background: #ffffff;
  line-height: 27px;
}
.activity_box p {
  margin-bottom: 0px;
}
.activity_box span {
  font-weight: 600;
  color: #4db6ac;
}
.country-detail {
  border-bottom: 1px solid #ccc;
  padding: 20px 0px;
}
.pkgProdInclRepeat .steps ul li {
  list-style: none;
  font-size: 14px;
  color: #5a5a5a;
}
.pkgProdInclRepeat {
  border-right: 1px solid #e4e4e4;
  padding-right: 15px;
}
.review-box {
  background: rgba(77, 182, 172, 0.2);
  padding: 15px;
  border-left: 5px solid #4db6ac;
  margin-bottom: 20px;
}

.review-box h3 {
  font-size: 18px;
  font-weight: 600;
}
.review-box h3 span.rating {
  color: #f9c614;
}
.travel-name {
  font-size: 15px;
  margin-bottom: 5px;
}
.review-detail {
  margin-bottom: 0px;
}
.review_slide .slick-dots {
  display: block !important;
  bottom: -10px;
}
.review-btn {
  padding: 10px;
  background: transparent;
  border: 1px solid #4db6ac;
  color: #4db6ac;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
}
.review-btn:hover,
.review-btn:focus {
  background: #4db6ac;
  color: #fff;
}
.header_pop {
  background: #283848;
  color: #fff;
  font-size: 14px;
  padding: 8px 12px;

}
.header_pop h5 {
  font-size: 14px;
}
.header_pop button,
.header_pop button:hover,
.header_pop button:focus {
  color: #fff;
  opacity: 1;
}
.modal_box {
  max-width: 825px;
}
.modal_box label {
  display: block;
  font-size: 14px;
}

.modal_box input,
.modal_box textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}
.rating_box {
  border: none;
  float: left;
}

.rating_box > input {
  display: none;
}
.rating_box > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating_box > .half:before {
  content: "\f089";
  position: absolute;
}

.rating_box > label {
  float: right;
  font-size: 20px;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating_box > input:checked ~ label, /* show gold star when clicked */
.rating_box:not(:checked) > label:hover, /* hover current star */
.rating_box:not(:checked) > label:hover ~ label {
  color: #ffd700;
} /* hover previous stars in list */

.rating_box > input:checked + label:hover, /* hover current star when changing rating */
.rating_box > input:checked ~ label:hover,
.rating_box > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating_box > input:checked ~ label:hover ~ label {
  color: #ffed85;
}
.terms_condition {
  margin-bottom: 20px;
}
.terms_condition h5 {
  background: #092227;
  padding: 10px 10px;
  font-size: 17px;
  font-weight: 600;
  color: #fff;
}
.terms_condition ul {
  list-style: none;
  font-size: 14px;
}
.flights_elements {
}

/* ---------------- PACKAGE SUMMARY ------------------- */
.package-right-fixed{
width: 350px;
}
.package-main-content {
  background-color: #f4f4f4 !important;
  padding-top: 110px;
}
.package-stepper-steps{
    margin: 20px 0 30px;
    position: relative;
}
.package-step-content {
  background-color: #f4f4f4;
  display: inline-block;
  font-size: 16px;
  padding: 0 8px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.package-step-marker {
  background-color: #3c3c3c;
  color: #c6c6c6;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  margin-right: 7px;
  text-align: center;
  width: 36px;
  position: relative;
}
.pac-step-line:after{
  background-color: #3c3c3c;
    content: '';
    height: 1px;
    left: 24px;
    position: absolute;
    right: 0;
    top: 50%;
}
.package-step-content a{
  text-decoration: none;
  color:#3c3c3c;
}
/* .package-step-content a:active{
  color:red;
} */
.package-summary-outer {
  padding: 15px 0;
}
.package-summary-outer .Card {
  position: relative;
}
.package-summary-outer .Card .package-card-heading {
  font-size: 16px;
  font-weight: 600;
  color: #3c3c3c;
  padding: 8px 15px 8px 60px;
  background: #eee;
  position: relative;
  border: 1px solid #d7d7d7;
  border-bottom: 0;
}
.package-card-heading p{
  margin-bottom:0;
}
.package-summary-outer .Card .package-icon-outer {
  top: 0;
  left: 0;
  width: 50px;
  height: 40px;
  position: absolute;
  background-color: #4db6ac;
}
.package-icon-outer img{
  position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
/* .package-summary-outer .Card .package-icon-outer> i {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
} */
/* .package-smry-icon{
  width: 20px;
  height: 19px;
  background-position: -60px -27px;
 
}
i.package-smry-icon{
  background: url(../images/summary-sprite.png) 0 0 no-repeat;
  background-size: 250px 250px;
  display: inline-block;
} */
.package-summary-outer .Card .package-card-content {
  position: relative;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #d7d7d7;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.09);
}
.packagerpt,
.packagesmry {
  margin-bottom: 0;
}
.package-headingSum {
  display: inline-block;
  margin: 0 0 10px 10px;
  color: #3c3c3c;
  font-size: 16px;
  font-weight: 700;
}
p.package-mrgntb {
  margin: 10px 0 0;
}
.package-smlhdng {
  font-size: 14px;
  color: #666;
  display: inline-block;
  font-weight: 700;
  margin: 0 10px 0 0;
}
.package-smlcntnt {
  color: #8f8f8f;
  font-size: 14px;
}
.package-smlhdng img{
  height: 20px;
  margin-right: 10px;
}
.packagesmry .packagesmry-inclu {
  margin: 15px 0;
  overflow: hidden;
}
.packagesmry-inclu-heading {
  background: #eee;
  border-bottom: 1px solid #d8d8d8;
  color: #666;
  padding: 8px 10px;
  font-size: 13px;
}
.packagesmry-inclu .packagesmry-list {
  max-height: initial;
}
.packagesmry-list {
  overflow-y: auto;
  margin: 5px 0 0;
}
.packagesmry-list > ul > li {
  padding-left: 20px;
  list-style: none !important;
  font-size: 13px;
  position: relative;
}
.packagesmry-list > ul > li:before {
  content: "\002713";
  position: absolute;
  color: #666;
  left: 2px;
  top: 0;
}
.package-room-info-grid {
  margin: 10px 0;
}
.package-room-info-head {
  padding: 6px;
  background: #ddd;
  text-transform: uppercase;
  color: #666;
  font-size: 12px;
  font-weight: 700;
  border-bottom: 1px solid #8f8f8f;
}
.package-room-value-repeat {
  padding: 10px 5px;
  margin: 0;
  border-bottom: 1px solid #e4e4e4;
  background: #f4f4f4;
  font-size: 14px;
}
.package-room-info-cwd {
  float: none;
  text-align: center;
  font-size: 14px;
}
p.package-room-info-cwd {
  margin-bottom: 0;
}
.package-summary-outer .package-continue-btn {
  margin-top: 10px;
  padding: 10px 20px;
  display: block;
  background: #4db6ac;
  text-align: center;
  color: #fff;
  border-radius: 3px;
  float: right;
  clear: both;
  border: 0;
}
/* .package-right-fixed {
  position: fixed;
    z-index: 2;
    right: 10px;
    top: 49px;
} */
.package-fare-card {
  background-color: #fff;
}
.package-fare-card .package-card-heading{
  padding-left: 12px !important;
}
.package-fare-traveller .package-border {
  padding: 8px 0;
  border-bottom: 1px solid #f3f3f3;
  font-size: 14px;
}
.package-fare-details .package-fares > h5 {
  font-weight: 500;
  font-size: 16px;
  margin: 0;
}
.no-gutter {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}
.package-summary-outer .form-control {
  height: 36px;
  border-radius: 2px;
  background-color: rgba(247, 247, 247, 1);
  line-height: 12px;
  font-size: 12px;
  color: #8f8f8f;
}
.package-fare-card .btn-promo {
  background: #f56d6d;
  color: #fff !important;
  height: 36px;
  line-height: 23px;
  float: right;
  width: 100%;
  border: 0;
}

.package-border a.whtsthis {
  cursor: pointer;
  color: #f56d6d;
}
#package-promo-code {
  display: none;
}
.pac-minamnt {
  color: #8f8f8f;
  font-size: 11px;
}

.package-fare-card .package-total {
  background-color: #f4f4f4;
  font-size: 16px;
  font-weight: 600;
  color: #3c3c3c;
  padding: 15px 15px 0;
  background: #eee;
  position: relative;
  border: 1px solid #d7d7d7;
  border-top: 0;
  overflow: auto;
}
p.p-title{
  font-size: 16px;
  color: #3c3c3c;
}
.hr_line {
  border-top: 1px dashed #f3f3f3;
  margin: 15px 0;
}
.pac-gst{
  padding: 0 0 0 10px;
}
.pac-gst-option{
  padding-left: 0;
}

.pac-gst span{
  color:#8f8f8f;
  cursor: pointer;
  font-size:14px;
}
.p-gst-note{
  font-size: 11px;
    padding: 10px 0px;
    display: inline-block;
    padding-bottom: 0;
    color:#8f8f8f;
    cursor: pointer;
}
.form-gst p{
  font-size: 14px;
  margin-bottom:0;
}
.form-gst .imp-star{
  color:red;
}
/**************************************/
.flights_elements {
  height: 70px;
}
.flights_elements p {
  margin-bottom: 0px;
}
.flights_elements .filght_name {
  position: absolute;
  top: -30px;
}
.flights_elements h6 {
  font-size: 14px;
  margin-bottom: 0px;
  color: #f56d6d;
  font-weight: 600;
}

.brdrRL {
  border-right: 1px solid rgba(255,255,255,.5);
}
.resp-search{
  background: #fff;
  border-radius: 0;
  border: 1px solid #ccc;
  padding: 0 10px;
  box-shadow: 0px 3px 3px #e4e4e4;
  display:none;
  font-size:12px;
}
.resp-search .left-c{
  /* margin-right: 20px; */
    margin-left: 20px;
}
.resp-search .right-c{
  margin-top: 10px;
  margin-left: 10px;
}
.resp-search .right-c label{
  margin-right: 25px;
  margin-bottom:0;
}
.resp-search .ml10{
  font-size:12px;
}
.modal.left.fade #myModalleftfilter{
  background: #fff;
}
.modal.left.fade #myModalleftfilter h4.modal-title img{
  margin-right:15px;
}
.search-bar-strip{
  background-color: #4db6ac;
    border-top: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding: 9px 0;
}
.search-bar-strip .search-inner ul{
  list-style: none;
}
.search-inner li .form-control {
  margin-bottom: 0;
  width: 100%;
  border: 0;
  border-radius: 0;
  background: 0 0;
  color: #fff;
  padding: 8px 10px 8px 45px;
}
.search-inner .search-ic{
  position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    left: 30px;
    font-size: 18px;
}
.search-inner .form-control {
  height: 50px;
}
.search-inner label{
  line-height: 34px;
    cursor: pointer;
    font-size: 14px;
}
.mb0{
  margin-bottom:0;
}

.search-again-btn{
  background: rgba(0,0,0,.25);
  border-radius: 25px;
  color: #fff !important;
  border: 0;
  font-size: 15px;
  height: 40px;
  line-height: 28px;
  margin-top: 5px;
  padding: 6px 20px;

}


/*******************************************************************/


.modal.left .modal-dialog{
  
		position: fixed;
		margin: auto;
		width: 320px;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	}

	.modal.left .modal-content{
		height: 100%;
		overflow-y: auto;
	}
	
	.modal.left .modal-body{
		padding-top: 0;
	}

/*Left*/
	.modal.left.fade .modal-dialog{
    /* left: -320px; */
   
		-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, left 0.3s ease-out;
		        transition: opacity 0.3s linear, left 0.3s ease-out;
  }
  .modal.left.fade .modal-dialog .modal-content{
    background: #f4f4f4;
    border: 0;
    border-radius: 0;
  }
	
	.modal.left.fade.in .modal-dialog{
		left: 0;
	}
    
  .modifySearchInner {
    padding: 20px 15px;
}
.modifySearchInner .form-control{
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #d8d8d8;
  background: #fff;
}
.search-again-modal-btn{
  background: #4db6ac;
    color: #fff !important;
    border: 0;
    font-size: 15px;
    height: 40px;
    line-height: 28px;
    margin-top: 5px;
    padding: 6px 20px;
    border-radius:0;
}

/********************************************************************/

/*******Filter css **************/
.filter-strip{
    background-color: #e6e6e2;
    position: sticky;
    top: 0;
    z-index: 9;
    border-bottom: 1px solid #d4d4d4;
    border-top: 1px solid #d4d4d4;
    box-shadow: 0 0 4px rgba(0,0,0,.15);
}

.filter-strip .filter-title{
  /* display: block; */
  color: #8f8f8f;
  cursor: pointer;
  padding: 15px 0;
  font-size:14px;
}
.filter-title small{
  font-style:italic;
}
.filter-title img{
  margin-right:10px;
}
#filterdrop{
  display:none;
}
.filter-inner{
  position: absolute;
    /* top: 100%; */
    left: 0;
    right: 0;
    width: 100%;
    background: #fff;
    z-index: 8;
  box-shadow: 0 0 8px rgba(0,0,0,.25);
   background-clip: padding-box;
    transition: opacity .25s linear;
    padding: 10px;
}

.filter-inner .filter-cat{
  font-size: 13px;
  color: #555;
  margin-top: 10px;
}
.filter-cat ul li{
  list-style: none;
}
.filter-cat input[type=checkbox]{
  display:none;
}
.filter-inner .search-des{
  overflow:auto;
}
.filter-inner .search-des .filter-cat {
  max-height: 145px;
  min-height: 145px;
}
.search-des::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius:8px;
	background-color: #F5F5F5;
}

.search-des::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

.search-des::-webkit-scrollbar-thumb
{
	border-radius: 8px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.chkflgt{
  cursor: pointer;
    display: block;
    margin-bottom: 5px;
    position: relative;
    color: #8f8f8f;
    padding: 0 0 0 30px;
    width: 100%;
}
.check-control{
  border: 1px solid #bebebe;
  height: 17px;
  left: 0;
  position: absolute;
  /* top: -3px; */
  width: 17px;
}
.check-control:after{
  content: '';
    opacity: 0;
    position: absolute;
    transition: opacity .2s ease;
  border: solid #bbb;
  border-width: 0 2px 2px 0;
  height: 8px;
  left: 5px;
  top: 2px;
  width: 4px;
  transform: rotate(45deg);
}
.chkflgt input:checked~.check-control:after {
  opacity: 1;
}
.chkflgt input[type=checkbox]:checked+.check-control:after {
  border-color: #4db6ac;
}
.chkflgt input[type=checkbox]:checked+.check-control{
  border: 1px solid #4db6ac;
}
.chkflgt input[type=checkbox]:checked~span {
  color: #4db6ac;
}
.filter-head{
  display:none;
}

.filter-inner .filter-head{
  padding: 10px;
    background: #eee;
    font-size: 12px;
    font-weight: 700;
    border-bottom: 1px solid #d8d8d8;
    border-top: 1px solid #d8d8d8;
    text-transform: uppercase;
    color: #3c3c3c;
}
.filter-inner .filter-head .filter-noneall{
  float: right;
}
.filter-inner .filter-head .filter-noneall a {
  font-size: 10px;
  color: #2c67b3;
  cursor: pointer;
}
.f-pipe {
  margin: 0 5px;
}
#myModalleftfilter .filter-inner .container{
  padding:0;
}
#myModalleftfilter .filter-inner{
  padding:0;
}
#myModalleftfilter .filter-inner .filter-head{
  display:block;
}
#myModalleftfilter .filter-inner .filter-cat {
  margin-left: 10px;
}
#myModalleftfilter .modal-header{
      padding: 10px 10px;
      background-color: #fff;
}
/*******************************/



/**********Sort**************/
.sort_by_search{
  background: #fff;
  border-radius: 0;
  border: 1px solid #ccc;
  margin: 10px 0;
  box-shadow: 0px 3px 3px #e4e4e4;
}
.sortby-dropdown{
  text-align: right;
    display: block;
    margin-right: 10px;
    padding: 10px 0;
}
.sort_by_search .sortby-dropdown a{
  position: relative;
  color:#3c3c3c;
}
.sortby-dropdown a i{
  margin-left: 8px;
}
.sort_by_search .sortby-dropdown:hover .sortbydrop{
  display:block;
  transition:0.5s ease-in-out;
  /* transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0, 10px, 0);
  transition: opacity 0.3s, transform 0.3s; */
}
.sort_by_search .sortby-dropdown:hover i{
  transition: 0.5s;
  transform: rotateX(180deg);
}
.sort_by_search .sortby-dropdown .sortbydrop{
  position:absolute;
  left: auto;
  right:15px;
  width: 100%;
  max-width: 150px;
}
ul.sortbydrop{
 list-style: none; 
}
ul.sortbydrop{
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0, 10px, 0);
  display:none;
  z-index:99;
  height: auto;
  overflow: visible;
  opacity: 1;
  filter: none;
  
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}
.sort_by_search .sortby-dropdown .sortbydrop li a{
  background: #fff;
  color: #999;
  padding: 7px 10px;
  line-height: 20px;
  font-size: 14px;
  border-bottom: 1px solid #d8d8d8;
  display: block;
  position: relative;
  transition: .3s;
  text-align: left;
}
.sort_by_search .sortby-dropdown .sortbydrop li:first-child>a:before{
  position: absolute;
  content: '';
  border-style: solid;
  right: 40px;
  top: -11px;
  border-width: 0 11px 11px 11px;
  border-color: transparent transparent #ccc transparent;
}
.sort_by_search .sortby-dropdown .sortbydrop li:first-child>a:after{
  position: absolute;
    content: '';
    border-style: solid;
    right: 41px;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #fff transparent;
    top: -9px;
}

/**************************/

/**************Social media icons ******************/

.fl-fl {
  background: #000000;
  text-transform: uppercase;
  width:200px;
  position: fixed;
  right: -160px;
  z-index: 1000;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

.float-sm .fa {
  font-size: 28px;
  color: #fff;
  padding: 10px 0;
  width: 40px;
  margin-left: 10px;
}

.fl-fl:hover {
  right: 0;
}

.fl-fl a {
  color: #fff !important;
  text-decoration: none;
  text-align: center;
  line-height: 43px!important;
  vertical-align: top!important;
}

.float-ph {
  top: 400px;
}
.float-roc {
  top: 460px;
}
.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*****************************************************/
/*************Send Enquiry***********************/

.send_enquiry  i.mail-icon,.send_enquiry  i.phone-icon,.send_enquiry  i.down-icon{
  padding: 0 0 0 8px;
  border-left: 1px solid;
  top: 4px;
  width: 29px;
  height: 29px;
  line-height: 29px;
  font-size: 15px;
  color: #ccc;
  text-align: center;
  position: absolute;
  right: 25px;
}
.send_enquiry a.link-enquiry{
  font-size:12px;
  color: #949494;
  vertical-align: text-bottom;
}
.send_enquiry .submit-enquiry{
  color: #FFFFFF;
  background: #ED008C;
  border-radius:0;
}
.send_enquiry .form-control{
    height: 36px;
    border-radius: 0px;
    line-height: 12px;
    font-size: 14px;
    color: #8f8f8f;
    -webkit-appearance: none;
  -moz-appearance: none;
}

.enquiry_terms .agree-para{
   padding: 5px 10px;
    width: 100%;
    border: 1px solid #999;
    background: #fff;
    outline: 0;
    font-size:12px;
}

.agree-button{
  padding: 20px 0 0 0;
  border-top: 1px solid #e3e3e3;
  text-align: center;
}
.agree-button .btn-agr {
  display: inline-block;
  padding: 0 30px;
  height: 40px;
  line-height: 40px;
  text-transform: uppercase;
  font-size:12px;
}
.agree-button .btn-agree-e{
  color: #FFFFFF;
  background: #ED008C;
}









/****************************************************/







/***********Book now pop up *******************/

.book-now .modal-booknow {
  max-height: 440px;
  padding: 0 15px 15px;
  overflow-y: auto;
  height: auto;
  background: #fff;
}
.book-now .book-package {
  position: relative;
  background-color: #f4f4f4;
  color: #8f8f8f;
  padding: 8px 15px 0px 60px;
  margin: 5px 0;
  min-height: 50px;
}
.book-now .book-package .book-icon{
  position: absolute;
  width: 50px;
  height: 50px;
  line-height: 50px;
  top: 0;
  left: 0;
  text-align: center;
  background: #f56d6d;
}
.book-now .book-label {
  font-size: 16px;
  margin-bottom:0;
}
.book-now .book-label.lnhgt {
  line-height: 34px;
}
.book-now .book-package span {
  font-size: 14px;
}

.prcernge-heading {
  width: 100%;
  padding: 10px 15px;
  margin: 0;
  color: #3c3c3c;
  background: #ddd;
}
.prcernge-bkngtitle,
.prcernge-bkngoption {
  width: 20%;
  padding: 5px 2px;
  background: #f4f4f4;
  border: 1px solid #fff;
  text-align: center;
  float: left;
}

.prcernge-bkngoption {
  height:auto;
  font-size: 14px;
}
.prcernge-redbox {
  padding: 2px 5px;
  border-radius: 4px;
  background: #f56d6d;
  color: #fff;
  font-size: 11px;
}
.prcernge-bkngoption .bknoption {
  font-weight: bold;
  vertical-align: middle;
}
.prcernge-bkngoption .bknpce {
  vertical-align: middle;
}
.clear {
  clear: both !important;
}
select.classic {
  background: #fff;
  cursor: pointer;
  border-radius: 0;
}
.book-room1 {
  padding: 6px 10px;
  margin: 10px 0;
  color: #fff;
  background: #4db6ac;
  font-weight: 700;
}
.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.ml10{
  margin-left:10px;
  padding: 10px 0;
}
.pdnglft {
  padding-left: 55px;
  font-size: 14px;
  color: #8f8f8f;
}
.book-total-amnt {
  font-size: 16px;
}
.book-bluelink {
  font-size: 12px;
  color:#007bff !important;
  cursor: pointer;
}
.btnlnkblue {
  background: #4db6ac;
  color: #fff;
  padding: 12px 50px;
  border: 0;
  border-radius: 0;
  margin: 10px 0 0;
}
.happens_next .modal-whathappen{
  padding:15px;
  max-height: 500px;
  overflow-y: auto;
  height: auto;
  background: #fff;
}
.happens_next .modal-whathappen ul{
  list-style: none;
}
.pop-title{
  font-size: 14px;
}
.popover-content{
  font-size: 11px;
}
.pop-title .close{
  position: relative;
  bottom: 5px;
}
.popover-content ul{
  padding-left: 7px;
}
.slide_image_elements_about{
  height:410px;
  overflow: hidden;
}
/*************************************************/

@media only screen and (max-width: 767px) {
  .slide_image_elements_about
  {
    height: auto;
  }
  .slide_image_elements_about figure{
    height: auto;
  }
  .main-nav
  {
    background:#fff;
  }
 .social-element{
  width: 100%;
 }
  .navbar-light .navbar-nav.nav-element li.nav-item{
    line-height: 30px;
  }
  .nav-element{
    border-top: 1px solid #e0dede;
    margin-top: 10px;
    width:100%;
  }
  .social-element li{
    line-height: 30px; 
  }
  .slider-content h2{
    display:none;
  }
  .navbar-light .navbar-nav.nav-element .nav-link:after
  {
    bottom:1px;
  }
  .dt-sc-button
  {
    margin-bottom: 15px;
  }
  .mbYTP_wrapper {
   
    height: 350px !important;
    margin-top: 100px; 
}
.holiday-elements img
{
  height:auto;
}
  .resp-search{
    display:block;
  }
  .main-slider {
    height: 100vh;
  }
  .book-now .book-label {
    font-size: 14px;
  }
  .book-now .book-label.lnhgt{
    line-height: 20px;
    margin: 0 0 5px;
  }
  .book-now .book-package{
    padding: 4px 10px;
    min-height: initial;
    font-size: 12px;
    border-left: 2px solid #f56d6d;
  }
  .travel-portral
  {
    padding: 25px 0px;
  }
  .travel-portral h2{
    font-size: 24px;
  }
  .holiday-elements-bg{
    height:auto;
  }
  .prcernge-bkngtitle{
    height: 80px;
    font-size: 14px;
  }
  .prcernge-redbox{
    background: 0 0;
    color: #8f8f8f;
  }
  .prcernge-bkngoption{
    font-size: 13px;
  }
  .pdnglft{
    padding-left: 0;
  }
  .bg-about h1{
    font-size: 40px;
  }
  .sort_by_search{
    box-shadow:none;
    border:none;
    background: none;
  }
  .sort_by_search .ml10{
    display:none;
  }
  .sort_by_search .sortby-dropdown a.sort-a{
    /* display: inline-block; */
    padding: 2px 15px;
    background: #4db6ac;
    color: #fff !important;
    border-radius: 3px;
    /* margin: 8px -15px 8px 0; */
  }
  .sort_by_search .sortby-dropdown .sortbydrop{
    top: 62%;
    right: 10px;
  }
  .search-bar-strip{
    display:none;
  }
  .package-right-fixed{
    width: 100%;
    margin-bottom: 20px;
    position: relative !important;
  }
  #example1{
    font-size: 25px;
  }
  .package-traveller
  {
    margin-top: 20px;
  }
  .main_searchform .nav-tabs{
    display:grid;
  }
  .holiday-elements-ml {
    margin-left: 0;
  }
  .holiday-elements-mr
  {
    margin-right: 0px;
  }
  .tab-element-main
  {
    margin-top:20px;
    position: relative;
    bottom: 0px;
  }
  .search-tabs input
  {
    margin-top: 10px;
  }
  .holiday-elements .holiday-elements-front figure{
    margin-bottom: 0 !important;
    display: block;
    height: auto;
  }
  .heading-content h2 {
    font-size: 40px;
  }
  .holiday-elements-bg h3 {
    font-size: 20px;
  }
  .holiday-elements-bg p,.holiday_element_list li {
    font-size: 15px;
  }
  .bg-2{
    padding: 30px 30px;
  }
  .map-content h5 , .map-content h4 {
    font-size:16px;
  } 
  .map-content h3 {
    font-size: 20px;
  }
  
  .main-slider{
    margin-bottom:0;
  }
  .filter-strip{
    display:none;
  }
}
.player {
 
  position: relative;
  width: 500px;
  height: 350px;
  margin-top: 100px !important;
  left: 0;
  overflow: hidden;
  
}

#wp {
  position: relative;
  z-index: 10;
  min-width: 300px;
  background: rgba(0, 0, 0, 0.55);
  /*background: #ffb200;*/
  color: #fff;
  font-size: 24px;
  line-height: 24px;
  padding: 20px;
  bottom: 60px;
  cursor: pointer;
  text-align: left;
  border-radius: 10px;
  font-family: 'Lobster', cursive;
}
.position_static
{
  position: static !important;
}
.mbYTP_wrapper
{
  background:#ccc;
}
#loading
{ 
 text-align:center; 
 background: url('../Img/loading.gif') no-repeat center; 
 height: 150px;
 margin-top:150px;
}
#detail1 .form-group label{
  margin-bottom:4px !important;
  font-size:15px;
}
#detail1 .form-group .form-control{
  font-size: 15px;
}
#detail1 small{
  font-style:italic;
}
#detail1 h4{
  margin-bottom:20px;
}
.profile-page{
  margin: 60px auto;
}
.profile-page h3.profile-name{
  margin-bottom: 20px;
  font-size: 25px;
}
.profile-page h6{
  margin-top:10px;
  font-size: 20px;
}
p.alert-danger{
  padding: 5px 10px;
}
p.alert-danger a{
  color:0;
}
.profile-left{
  background: #f4f4f4;
  padding: 10px;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
}
.profile-page button.btn-profile{
  cursor: pointer;
    background: #37cabb;
    color: #fff;
    
}
.capitalize{
  text-transform: capitalize;
}
.travel-package-outer{
  color:#666;
}
.travel-package-outer .pkg-name{
  color:#666;
  padding: 4px 10px;
  border-left: 4px solid #666;
}
.travel-package-outer  .travel-box-eq{
  padding: 30px 30px;
}
.travel-package-outer  .btn-pkg{
 background: #007bff;
 color: #fff;
 border-radius:0;
 padding:4px 10px;
}
.travel-package-outer img{
   margin-right: 15px;
    margin-top: -2px;
}
.manage-user-table table a.user-action{
  border: 1px solid #777;
 border-radius: 50%;
    background: #fff;
    padding: 6px;
    margin-right: 5px;
}
.manage-user-table table a i{
color:#777;
  width: 17px;
  text-align: center;
}
.manage-user-table table a.active{
  border: 1px solid #007bff;
  
}
.manage-user-table table a.active i{
  color:#007bff;
}
.manage-user-table table tr:hover{
  background: #ececec;
}
.video-stream.html5-main-video{
width:600px;
height:1024px;
}
#more-home{
  display:none;
  
}
p.itl-p{
  font-size: 15px;
    margin-bottom: 30px;
}
.book-btn-index{
  color: #fff;
    border: 2px solid #fff;
    padding: 10px 20px;
    font-size: 20px;
    transition: 0.3s ease-in-out;
}
.book-btn-index:hover{
  color:#49c1b7;
  background:#fff;
 
}
#dots{
  color: #065b8b;
  cursor: pointer;
}
#scroll-index::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 4px;
	background-color: #F5F5F5;
}
#scroll-index::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

#scroll-index::-webkit-scrollbar-thumb
{
	border-radius: 4px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #2f8077;
}
.member-login {
  text-align: center;
  background: #00bff3;
  padding: 40px 10px 37px 10px;
  text-align:center;
  color: white;
}